.animate {
    transition: transform 0.5s;
    border-radius: 50px;
}

.animate:hover{
  transform: translate(0px, -5px);
  background: #d9534f;

  }
  .btn-rounded{
    background-color: transparent;
    
    border: 1px solid gray;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50px;
  } 
  .pl:focus{
    border: none;
  }