<div class="container px-5 py-5">
    <div class="row">
        <div [class]="item.class" *ngFor="let item of quickList">
            <a class="w-100 animate" routerLink="item.route">
                <img [src]="item.img" alt="">
            </a>
            <div class=""style="position:absolute; top :30px;left:30px">
                <h3 class="text-white px-0"><span class="font-weight-bold" style="font-size:40px">{{item.name}}</span></h3>        
            </div>
            <div style="position:absolute; top :70px;left:35px">
                <p class="text-white">{{item.time}}</p>
            </div>
        </div>
    </div>
</div>
