.float{
    animation: shimmy 0.5s infinite;
    animation-direction: alternate;
  }
  
  @keyframes shimmy {
    0% {
      transform: translate(0, 0);    
    }
    100% {
      transform: translate(0px, 23px);
    }
  }

  .float:focus {     
    border: none;   
    box-shadow: none;
}